.container {
    padding-bottom: 100px;
}

html{
    height: 100%;
    margin: 0;
    min-height: calc(200vh - 200px); /* 100px là chiều cao dự kiến của footer */
    background: linear-gradient(to bottom, #add8e6, #bfefff);
    padding-bottom: 100px;
    
}

.content {
    min-height: calc(100vh - 100px); /* 100px là chiều cao dự kiến của footer */
    padding-bottom: 100px; 
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set chiều cao tối thiểu bằng 100% chiều cao của viewport */
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
 background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative; /* Thiết lập vị trí tương đối cho footer */
    bottom: 0; /* Đặt footer ở dưới cùng của nội dung */
}
td {
    border: none; 
    margin-bottom: 2cm;
    margin-left: 2cm;
    vertical-align: top;/* Để hiển thị biên cho mỗi ô */
}
tr {
    display: flex;
    flex-wrap: wrap;
}

table {
    display: grid;
    grid-template-columns: repeat(4, auto); /* 4 cột có chiều rộng tự động */
    border-collapse: collapse;
    border: none;
    padding: 0 2cm;
    margin-right: 5.78cm;
    margin-left: 3.68cm;
    margin-top: 12.5cm;
    border-collapse: separate;
    background-color: #F0F0F1;
}
.button-6 {
  align-items: center;
  background-color: paleturquoise;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
/* Định dạng hình ảnh */
#header-image {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 0%;
    left: 25%;
}

/* Định dạng phần đầu trang */
.header {
  /* Mã màu xanh nước biển nhẹ */
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */ /* căn giữa theo chiều dọc */
}
/* Định dạng vị trí của hình ảnh trong phần đầu trang */
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    padding: 30px;
    position: absolute;
    top: 50%;
    left : 10.85cm;
    right : 3 cm;
    
}
 a {
        text-decoration: none;
        color: #333;
        margin-right: 5cm; 
    }
 


